[Desktop Entry]
Name=LunaticSMTP
Comment=Dummy SMTP server
Exec=lunaticsmtp
Icon=lunaticsmtp
Terminal=false
Type=Application
Categories=Java;Utility;Development;Email;
Keywords=Email;SMTP;
