name: build

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ '11', '17' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v1

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - name: Set up lintian
      run: sudo apt-get install -y lintian

    - name: Run tests and build DEB-package
      run: gradle test releaseDeb dependencyUpdates dependencyCheckAnalyze -Dtest.profile=headless

    - name: Run .deb package check
      run: lintian app/build/distributions/*.deb -v --pedantic --suppress-tags debian-changelog-file-missing,manpage-not-compressed

