name: build

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ '17', '19', '21' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}

    - name: Set up lintian
      run: sudo apt-get update && sudo apt-get install -y lintian

    - name: Run tests and build DEB-package
      run: ./gradlew clean dependencyCheckPurge test releaseDeb dependencyUpdates dependencyCheckAnalyze -Dtest.profile=headless

    - name: Run .deb package check
      run: lintian app/build/distributions/*.deb -v --pedantic --suppress-tags debian-changelog-file-missing,manpage-not-compressed

