name: release

on:
  workflow_dispatch:
  push:
    tags:
    - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Run tests and build DEB-package
      run: ./gradlew clean test releaseDeb -Dtest.profile=headless

    - name: Create pre-release and upload artifacts
      uses: ncipollo/release-action@v1
      with:
        generateReleaseNotes: true
        draft: true
        prerelease: true
        artifacts: "app/build/distributions/*.deb,app/build/libs/lunaticsmtp-*.jar"
        token: ${{ secrets.GITHUB_TOKEN }}

